*{
  margin: 0; 
  line-height: 1.5;
  font-family: "Times New Roman";
}

a {
     color: #d21034);
    text-decoration: none;
  }
  
a:hover {
    color: rgba(20, 80, 100, 1);
  }
  

/*other info */
header {
    background-color: #333333;
    color: #eee;
    font-size: 28px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #efeee7;
    color: #333333;
    line-height: 1.5;
    font-size: 16px;
    text-align: left;
  }
  

    h1 {
      /* Put a 15-pixel margin at the bottom of the heading. */
      margin-bottom: 15px;
      /* Change the size of your font to 60 pixels high. */
      font-size: 28px;
      /* This will color the heading font white. */
      color: #eee;
      /* Align the text to the center of its enclosing element (e.g. div). */
      text-align: center;
      /* Underline the text. */
      text-decoration: underline;
      /* The background of the heading element will now be black. */
      background-color: #333333;
    }
    /* h2 heading tags */
    
    h2 {
      /* Put a 15-pixel margin at the top of all h2 headings. */
      margin: 0 auto;
      font-size: 24px;
      text-align: left;
    }
    /* h3 heading tags */
    
    h3 {
      margin-top: 15px;
      font-size: 20px;
      text-align: center;
    }
    /* All img tags */
    
    #main-bio, #contact-info, #bio-image {
      float: left;
      text-align: left;
    }
    
    #bio-image {
      width: 200px;
      alt: "placeholder image of Shahid";
      padding: 15px;
    }

    #main-bio {
      width: 70%;
    }

    #contact-info {
width: 30%;
    }

    img {
      /* 
				Center a block element in the middle of its enclosing tag.
				When you use the "auto" rule on both left and right margins, 
				your browser will do the math necessary to center a block element.
				*/
      margin-left: auto;
      margin-right: auto;
      /* Block display (more on this later) */
      display: block;
    }
    /* All p tags */
    body {
        font-family: Calibri;
    }
    p {
      text-align: left;
      font-size: 16px;
      /* Bold the text. */
    }
    /* All unordered list tags */
    
    ul {
      text-align: left;
      font-size: 16px;
      /* Give an element a solid border. */
      border-style: solid;
      /* Render the border 5 pixels thick. */
      border-width: 2px;
      margin-top: 10px;
      margin-right: 10px;
      /* Include bullets in the content flow. */
      /* More info here: http://www.w3schools.com/cssref/pr_list-style-position.asp */
      list-style-position: inside;
    }

    a {
      color: #d21034;
      text-decoration: none;
  }
  
    a:hover {
      color: rgba(20, 80, 100, 1);
  }

/* Make the container have a width of 1,024 pixels and center it. You do this using `margin: 0 auto;`.
  * Make `#main-bio`, `#contact-info`, `#bio-image` all `float: left`.
  * Make the `#bio-image` have a width of 200 pixels.
  * Be sure to include `alt` text in all images
  * `#main-bio` should have a width of `70%`.
    * Add margins to the image, so there is distance between it and the bio text.
  * `#contact-info` should have a width of `30%`.
  * Adjust the line height, so it is 1.5 times the size of the font.
  * Make the link color `#d21034`.

* If you forgot how to write the CSS properties, you can reference all CSS properties here: <https://developer.mozilla.org/en-US/docs/Web/CSS/Reference>.

* BONUS:

  * Stage, commit, and push this new file to Github.

      /*
			NOTE: Commenting is a bit different in CSS. 
		  They start with forward-slash + asterisk 
		  and end with back-slash + asterisk.
		  */
    /* h1 heading tag */
  